.accordion {
    background-color: rgba(255, 255, 255, 0.904);
    margin: 20px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(225,225,225,1);
    overflow: hidden;
    transition: height 0.3s ease;
    margin-bottom: 20px;
    padding-left: 30px;
}
.accordion_tab {
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.accordion_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.accordion_image img {
    display: flex;
    width: 80%;
    text-align: center;
}
.accordion__title {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color:brown;
}


.accordion__lightbox--target {
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    top: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
        img {
            margin: auto;
            position: absolute;
            top: 0;
            left:0;
            right:0;
            bottom: 0;
            width: 75%;
            height: auto;
            box-shadow: 0px 0px 8px rgba(0,0,0,.3);
            box-sizing: border-box;
            transition: .5s ease-in-out;
            padding: 50px;
        }
    }   

a.accordion__lightbox--close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    transition: .5s ease-in-out;
}
              
a.accordion__lightbox--close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    transform:rotate(45deg);
}
            
a.accordion__lightbox--close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    transform:rotate(-45deg);
}
          
.accordion__lightbox--target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}
.accordion__lightbox--target:target img {
    max-height: 100%;
    max-width: 100%;
}
.accordion__lightbox--target:target a.accordion__lightbox--close {
    top: 0;
}


@for $i from 1 through 4 {
    .accordion__image_#{$i} {
        width: 30px * $i !important;
        height: auto;
    }
}

$Colors: (
    blue:rgb(173, 173, 250),
    red:rgb(255, 140, 140),
    green:rgb(174, 252, 174),
    yellow:rgb(253, 253, 166),
);

@each $tab, $value in $Colors {
    .#{$tab}_tab {
        background-color: $value!important;
    } 
}

