/* Footer */

footer {
    background: black;
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
}
.footerCopy {
    padding: 30px;
}
.footerCopy h3 {
    color: white;
    font-size: 20px;
    text-align: center;
}