/* Gallery */

.Carousel {
    padding-top: 120px;
}
.gridContainer {
    background: black;
    padding: 30px;
    padding-bottom: 10rem;
}
.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
    gap: 1rem;
}
.imgTest {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.imgTest img:hover {
    transform: scale(1.3);
    transition: 0.8s;
}
.grid-gallery .imgTest img {
    width: 450px;
    height: 300px;
}