h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    color: brown;
    margin-bottom: 15px;
}
h2 {
    font-family: 'Cinzel', serif;
    font-size: 35px;
    color: brown;
    margin-bottom: 15px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    font-weight: 700; 
}
p {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: #504f57;
    line-height: 1.5; 
}
a {
    text-decoration: none !important;
    color: #ec1616; 
}
li {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    color: #504f57;
    line-height: 1.5; 
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(5%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 50%;
    }
}
